.wrapper
    .container-fluid
        .row
            - @projects.each do |p|     
                .col-sm-6.col-md-4
                    .thumbnail
                        = image_tag p.image.url(:medium)
                        %div.caption
                            %h3= p.title
                            = link_to "See More", p, class: "btn btn-default"
                            