%div.wrapper
    %div.container-fluid
        %div.row
            %div.col-md-3.side-bar
                %ul.nav.nav-pills.nav-stacked
                    %li= link_to 'Home', root_path
                    - Category.all.each do |category|
                        %li= link_to category.name, projects_path(category: category.name)
                    %li= link_to 'Admin', '/admin'
            %div.col-md-9.main-show
                %div.row
                    %div.panel.panel-default
                        %div.panel-body.panel-show
                            %h1 Add New Project
                %div.row.main-edit            
                    = render 'form'