// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    background-color: #fff;
}


.main-navigation {
    background-color: #fff;
}

.jumbo {
    
    padding: 10px;
}